.jumbotron
  .d-flex.flex-column.align-items-start
    p= `${t('statuses:defaultStatusesDescription')}:`
    ul.list-group.ml-5
      li= t('statuses:defaultStatuses.active')
      li= t('statuses:defaultStatuses.completed')
      li= t('statuses:defaultStatuses.canceled')
      li= t('statuses:defaultStatuses.inProgress')
    p.mt-5
      i= t('statuses:editOrDeleteForbidden')
