.d-flex.flex-column.align-items-center
  h6.mb-4= t('statuses:availableStatuses')
  p.small.ml-2= t('statuses:selectStatus')
  select.selectpicker.form-control-lg.mb-5.select-link(title=t('statuses:checkStatuses'))
    each status in statuses
      option(
        value=status.id,
        selected=status.id === selectedStatusId
        data-href=urlFor("editStatus", status.id)
      )= status.displayName
  a(href=urlFor("newStatus"))
    .row
      i.fas.fa-plus.fa-lg.mr-2
      p= t('statuses:newStatus')