extends /layout/application.pug

block content
  h3.mb-4= t('users:profileDetails')
  .row.mb-4
    +avatar(user, 'medium').mr-3 
    .dropright.mb-4.my-auto
      h4#profileDropdownMenuLink.dropdown-toggle(
        data-toggle='dropdown',
        aria-haspopup='true',
        aria-expanded='false'
      )= user.fullName
      .dropdown-menu(aria-labelledby='profileDropdownMenuLink')
        h6.dropdown-header= t('common:moreActions')
        .dropdown-divider
        a.dropdown-item.text-danger(
          href=urlFor("editUser"),
          data-method='delete',
          data-confirm= t('users:deleteConfirmation')
        )= t('users:deleteAccount')
        .dropdown-divider
        a.dropdown-item(href=urlFor("deleteSession"), data-method='delete')= t('common:signOut')

  +formFor({ url: urlFor('editUser'), method: 'put' }).mb-5
    .form-row.mb-3
      .col-md-4
        label.small.ml-2= t('users:firstName')
        +input(formObj, 'firstName', { placeholder: t('users:firstName') })
      .col-md-4
        label.small.ml-2t= t('users:lastName')
        +input(formObj, 'lastName', { placeholder: t('users:lastName') })
    .form-row.mb-3
      .col-md-4.mb-3
        label.small.ml-2= t('users:email')
        +input(formObj, 'email', { type: 'email', placeholder: t('users:email') })
    .form-row.mb-3
      .col-md-2
        +button({ type: 'submit', value: t('common:saveChanges') }).btn.btn-sm.btn-outline-dark.btn-block 
      .col-md-2
        button.btn.btn-sm.btn-link.text-secondary(type='reset')= t('common:cancel')

  h5.mb-3= t('users:changePassword')
  +formFor({ url: urlFor('editUser'), method: 'patch' }).mb-5
    .form-row.mb-3
      .col-md-4
        label.small.ml-2= t('users:oldPassword')
        +input(formObj, 'oldPassword', { type: 'password', placeholder: '' })
        label.small.ml-2= t('users:newPassword')
        +input(formObj, 'newPassword', { type: 'password', placeholder: '' })
        label.small.ml-2= t('users:confirmPassword')
        +input(formObj, 'confirmPassword', { type: 'password', placeholder: '' })
    .form-row.mb-3
      .col-md-2
        +button({ type: 'submit', value: t('users:changePassword') }).btn.btn-sm.btn-outline-dark.btn-block 
      .col-md-2
        button.btn.btn-sm.btn-link.text-secondary(type='reset')= t('common:cancel')
