- const dataTableClass = currentPath === urlFor("users") ? "data-table" : "data-table-scroll-Y";
table.table.table-sm.table-bordered.table-hover.table-striped(class=dataTableClass)
    thead
        tr
        th= t('users:fullName')
        th= t('users:email')
        th= t('users:registered')
    tbody
        each user in users
            tr
                td
                    a.text-dark(href=urlFor("showUser", user.id))
                        p= user.fullName
                td
                    a.text-dark(href=urlFor("showUser", user.id))
                        p= user.email
                td= t('users:formatDate', { date: user.createdAt })