include /mixins/form.pug
include /mixins/avatar.pug
doctype html
html.h-100(lang="en")
  head
    title Task Manager
    link(rel="icon" href="/assets/vendor/pictures/favicon.png")
    link(rel="stylesheet" type="text/css" href="/assets/main.css")
  body.d-flex.flex-column.h-100
    header
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href="/")
          img.mr-2(src='/assets/vendor/pictures/logo.png' width='30' height='30' alt='')
          | Task Manager
        button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href=urlFor('users'))
                | Users 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href=urlFor('tasks')) Tasks
            li.nav-item
              a.nav-link(href=urlFor('statuses')) Statuses         
          if user  
            +avatar(user,'small').rounded-0    
            .dropdown.mr-3
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle.text-white(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= user.fullName
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                h6.dropdown-header Settings
                a.dropdown-item(href=urlFor('editUser')) Edit Profile
                a.dropdown-item(href=urlFor('statuses')) Customize Statuses
                .dropdown-divider
                a.dropdown-item(href=urlFor('session') data-method= 'delete') Sign Out
          else
            .btn-group.mr-2       
              a.btn.btn-outline-light(href=urlFor('newSession') role='button') Sign In
              a.btn.btn-outline-light(href=urlFor('newUser') role='button') Sign Up
    .pt-5.mt-5
      .container
        if !_.isEmpty(flashMessages)
          each message, klass in flashMessages
            - const alertClass = bsAlertClasses.includes(klass) ? `alert-${klass}` : `alert-danger`
            .alert.alert-dismissible.fade.show(class= alertClass)= message
              button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden='true') &times;
    main
      .container
        block content
    footer.footer.mt-auto.py-3.bg-dark.text-white-50
      .container.text-center
        small
          Copyright &copy; Task Manager  
  script(src='/assets/main.js')