.jumbotron
  h1.display-5.text-center= t('wellcome:wellcomeUser', { name: user.fullName })
  p.lead.text-center= t('wellcome:clickAround')
  hr.my-4
  p.lead.text-center.mb-4= t('wellcome:wantToUpdateYourProfile') 
    a(href=urlFor("editUser"))= t('common:profile')
    | ?
  p.text-center.font-weight-light.mb-0= t('wellcome:alreadyFinished')
  p.text-center.font-weight-light.mb-0= t('wellcome:wantTo')  
    a(href=urlFor("deleteSession"), data-method='delete')= t('common:signOut')
    | ?
